---
import image3 from "@/assets/insta-2.png";
import image4 from "@/assets/insta-3.png";
import image2 from "@/assets/insta.png";
import image1 from "@/assets/open.png";
import Image from "astro/components/Image.astro";
---

<section>
  <div class="grid grid-cols-5 min-w-screen">
    <div class="w-full h-full aspect-square overflow-hidden">
      <Image
        alt={"open"}
        class={"w-full h-full object-cover hover:scale-125 hover:rotate-6 transition-transform duration-300 ease-out"}
        src={image1}
        height={300}
        width={300}
      />
    </div>
    <div class="w-full h-full aspect-square overflow-hidden">
      <Image
        alt={"Instagram photo 1"}
        class={"w-full h-full object-cover hover:scale-125 hover:rotate-6 transition-transform duration-300 ease-out"}
        src={image2}
        height={300}
        width={300}
      />
    </div>
    <div class="w-full h-full aspect-square overflow-hidden">
      <Image
        alt={"Instagram photo 2"}
        class={"w-full h-full object-cover hover:scale-125 hover:rotate-6 transition-transform duration-300 ease-out"}
        src={image3}
        height={300}
        width={300}
      />
    </div>
    <div class="w-full h-full aspect-square overflow-hidden">
      <Image
        alt={"Instagram photo 3"}
        class={"w-full h-full object-cover hover:scale-125 hover:rotate-6 transition-transform duration-300 ease-out"}
        src={image4}
        height={300}
        width={300}
      />
    </div>
    <div
      class="bg-accent text-primary w-full h-full aspect-square flex items-center justify-center border border-primary text-center"
    >
      <span class="follow ">Follow us on instagram</span>
    </div>
  </div>
</section>
