---
import Button from "./button.astro";
import NavButton from "./navButton.astro";

const NAVIGATION = [
  { label: "About", href: "#about" },
  { label: "Menu", href: "#menu" },
  { label: "Reviews", href: "#reviews" },
  { label: "Social", href: "#social" },
];
---

<header
  class="z-10 fixed top-0 left-0 px-8 md:px-24 h-16 w-full flex items-center justify-between transition-colors duration-1000 ease-in-out"
  id="header"
>
  <div
    class="bg -primary text-accent md:text-primary px-3 h-full flex items-center rounded-b-4xl"
  >
    <a class="text-3xl font-bowlby font-thin" href="#">JO’S</a>
  </div>
  <nav class="space-x-4 uppercase font-semibold text-lg md:flex hidden">
    {NAVIGATION.map((e) => <NavButton href={e.href}>{e.label}</NavButton>)}
  </nav>
  <Button>
    <span>+123-456-7890</span>
  </Button>
  <button class="cursor-pointer md:hidden block" id="btn-menu">
    <svg
      class="fill-accent"
      height="32"
      id="menu-icon"
      viewBox="0 0 24 24"
      width="32"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M2 5.5C2 4.94772 2.44772 4.5 3 4.5H21C21.5523 4.5 22 4.94772 22 5.5V6.5C22 7.05228 21.5523 7.5 21 7.5H3C2.44772 7.5 2 7.05228 2 6.5V5.5Z"
      ></path>
      <path
        d="M2 11.5C2 10.9477 2.44772 10.5 3 10.5H21C21.5523 10.5 22 10.9477 22 11.5V12.5C22 13.0523 21.5523 13.5 21 13.5H3C2.44772 13.5 2 13.0523 2 12.5V11.5Z"
      ></path>
      <path
        d="M3 16.5C2.44772 16.5 2 16.9477 2 17.5V18.5C2 19.0523 2.44772 19.5 3 19.5H21C21.5523 19.5 22 19.0523 22 18.5V17.5C22 16.9477 21.5523 16.5 21 16.5H3Z"
      ></path>
    </svg>
  </button>
</header>

<div
  class="side-menu fixed bg-primary h-screen right-0 top-0 overflow-x-hidden pt-8 flex flex-col items-center justify-center text-center w-0 z-20"
>
  <ul class="menu text-xl flex flex-col gap-2 w-fit text-accent font-semibold">
    {
      NAVIGATION.map((e) => (
        <li>
          <NavButton
            className="hover:text-white hover:scale-1 transition-transform "
            href={e.href}
          >
            {e.label}
          </NavButton>
        </li>
      ))
    }
  </ul>
</div>

<script>
  import { gsap } from "gsap";

  window.addEventListener("load", () => {
    const sidebar = document.querySelector(".side-menu");
    const hamburger = document.querySelector("#btn-menu");
    const menuItems = document.querySelectorAll(".menu li");

    const siderbarTl = gsap.timeline({
      paused: true,
    });
    siderbarTl
      .to(sidebar, {
        duration: 1,
        width: "100%",
        ease: "power2.out",
      })
      .from(menuItems, {
        duration: 1,
        opacity: 0,
        y: 20,
        ease: "power2.out",
      });

    menuItems.forEach((e) =>
      e.addEventListener("click", () => siderbarTl.reverse())
    );

    hamburger?.addEventListener("click", () => {
      siderbarTl.play();
    });

    //SCROLL
    var prevScrollpos = window.pageYOffset;
    var headerDiv = document.querySelector("#header");
    var headerBottom = headerDiv.offsetTop + headerDiv.offsetHeight;

    const tlHeader = gsap.timeline({
      // paused:true
    });

    tlHeader
      .from(
        "#header",
        {
          duration: 1,
          top: -300,
          ease: "power2.out",
        },
        "<"
      )
      .to(
        "#header",
        {
          duration: 1,
          top: 0,
          ease: "power2.out",
        },
        "<"
      );

    window.onscroll = function () {
      var currentScrollPos = window.pageYOffset;
      /* if scrolling down, let it scroll out of view as normal */
      if (
        prevScrollpos <= currentScrollPos &&
        currentScrollPos > headerBottom
      ) {
        tlHeader.reverse();
      } else {
        tlHeader.play();
      }

      if (currentScrollPos > 300) {
        headerDiv?.classList.add("bg-primary");
        headerDiv?.classList.add("md:bg-light");
        headerDiv?.classList.add("shadow-md");
        headerDiv?.classList.add("z-50");
      } else {
        headerDiv?.classList.remove("bg-primary");
        headerDiv?.classList.remove("md:bg-light");
        headerDiv?.classList.remove("shadow-md");
        headerDiv?.classList.remove("z-50");
      }

      prevScrollpos = currentScrollPos;
    };
  });
</script>
