<section>
  <div class="grid grid-cols-5 max-w-screen">
    <div class="w-full h-full aspect-square overflow-hidden">
      <img
        src="open.png"
        alt="open"
        class="object-cover hover:scale-125 hover:rotate-6 transition-transform duration-300 ease-out"
      />
    </div>
    <div class="w-full h-full aspect-square overflow-hidden">
      <img
        src="insta.png"
        alt="insta"
        class="object-cover hover:scale-125 hover:rotate-6 transition-transform duration-300 ease-out"
      />
    </div>
    <div class="w-full h-full aspect-square overflow-hidden">
      <img
        src="insta-2.png"
        alt="insta-2"
        class="object-cover hover:scale-125 hover:rotate-6 transition-transform duration-300 ease-out"
      />
    </div>
    <div class="w-full h-full aspect-square overflow-hidden">
      <img
        src="insta-3.png"
        alt="insta-3"
        class="object-cover hover:scale-125 hover:rotate-6 transition-transform duration-300 ease-out"
      />
    </div>
    <div
      class="bg-accent text-primary w-full h-full aspect-square flex items-center justify-center border border-primary text-center"
    >
      <span class="follow">Follow us on instagram</span>
    </div>
  </div>
</section>
<section id="social" class="bg-primary">
  <div class="flex flex-col lg:flex-row pt-6 px-8 gap-8 md:pt-12 md:px-16">
    <div
      class="w-full flex-1 flex flex-col gap-2 items-center text-center md:items-start md:text-left"
    >
      <h3>Subscribe to our Newsletter</h3>
      <p>
        By subscribing to our newsletter, you will receive the latest tips, and
        promotions about our product and services straight to your inbox.
      </p>
      <form class="my-3 bg-white w-full flex h-fit">
        <input
          class="bg-transparent px-3 py-1 w-full focus-visible:outline-0 text-black"
          type="email"
          placeholder="Enter your email address"
        />
        <button
          type="submit"
          class="bg-black text-white font-bold cursor-pointer px-8 py-2 hover:bg-accent hover:text-black transition-colors duration-200 ease-in-out"
          >Send</button
        >
      </form>
    </div>
    <div class="flex flex-col sm:flex-row gap-8 w-full lg:w-2/3 ">
      <div
        class="w-full flex flex-col gap-2 items-center text-center lg:items-start lg:text-left"
      >
        <h3>contact us</h3>
        <ul>
          <li class="flex items-center gap-2">
            <svg width="16" height="16" fill="none">
              <use xlink:href="/sprite.svg#phone-icon"></use>
            </svg>jo@josburgers.com
          </li>
          <li class="flex items-center gap-2">
            <svg width="16" height="16" fill="none">
              <use xlink:href="/sprite.svg#email-icon"></use>
            </svg>+123-456-7890
          </li>
          <li class="flex items-center gap-2">
            <svg width="16" height="16" fill="none">
              <use xlink:href="/sprite.svg#location-icon"></use>
            </svg>123 Anywhere St., Any City, ST 12345
          </li>
        </ul>
      </div>
      <div
        class="w-full uppercase flex flex-col gap-2 items-center text-center lg:items-start lg:text-left"
      >
        <h3>Useful Links</h3>
        <nav class="flex lg:flex-col lg:gap-1 gap-4">
          <a
            href="#about"
            class="font-semibold hover:text-accent w-fit transition-colors duration-200 ease-in-out"
            >about</a
          >
          <a
            href="#menu"
            class="font-semibold hover:text-accent w-fit transition-colors duration-200 ease-in-out"
            >menu</a
          >
          <a
            href="#reviews"
            class="font-semibold hover:text-accent w-fit transition-colors duration-200 ease-in-out"
            >reviews</a
          >
          <a
            href="#social"
            class="font-semibold hover:text-accent w-fit transition-colors duration-200 ease-in-out"
            >social</a
          >
        </nav>
      </div>
    </div>
  </div>
  <div class="mt-8 lg:mt-12 flex flex-col gap-2 items-center justify-center">
    <div class="flex gap-3">
      <a
        href="/"
        class="hover:text-accent transition-colors duration-200 ease-in-out"
        >Privacy</a
      >
      <a
        href="/"
        class="hover:text-accent transition-colors duration-200 ease-in-out"
        >Terms</a
      >
      <a
        href="/"
        class="hover:text-accent transition-colors duration-200 ease-in-out"
        >Accessibility</a
      >
    </div>
    <p class="text-center text-xs/relaxed">
      © Company 2022. All rights reserved.
      <br />
      Created with
      <a href="#" class="underline transition hover:text-accent text-white"
        >Love</a
      >
    </p>
  </div>
</section>

<style>
  .follow {
    font-size: clamp(1rem, 4vw, 2.75rem);
    font-weight: 600;
  }
</style>
