<section>
  <div class="grid grid-cols-5 max-w-screen">
    <div class="w-full h-full aspect-square overflow-hidden">
      <img
        src="open.png"
        alt="open"
        class="object-cover hover:scale-125 hover:rotate-6 transition-transform duration-300 ease-out"
      />
    </div>
    <div class="w-full h-full aspect-square overflow-hidden">
      <img
        src="insta.png"
        alt="insta"
        class="object-cover hover:scale-125 hover:rotate-6 transition-transform duration-300 ease-out"
      />
    </div>
    <div class="w-full h-full aspect-square overflow-hidden">
      <img
        src="insta-2.png"
        alt="insta-2"
        class="object-cover hover:scale-125 hover:rotate-6 transition-transform duration-300 ease-out"
      />
    </div>
    <div class="w-full h-full aspect-square overflow-hidden">
      <img
        src="insta-3.png"
        alt="insta-3"
        class="object-cover hover:scale-125 hover:rotate-6 transition-transform duration-300 ease-out"
      />
    </div>
    <div
      class="bg-accent text-primary w-full h-full aspect-square flex items-center justify-center border border-primary text-center"
    >
      <span class="text-4xl font-semibold">Follow us on instagram</span>
    </div>
  </div>
</section>
<section id="social" class="bg-primary ">
  <div class="grid grid-cols-[30%_20%_1fr] pt-12 px-16">
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-1">
        <h3 class="uppercase font-bold text-2xl">contact us</h3>
        <span>jo@josburgers.com</span>
        <span>+123-456-7890</span>
        <span>123 Anywhere St., Any City, ST 12345</span>
      </div>
      <div class="flex flex-col gap-1">
        <h3 class="uppercase font-bold text-2xl mt-6">follow us</h3>
        <span>jo@josburgers.com</span>
        <span>+123-456-7890</span>
        <span>123 Anywhere St., Any City, ST 12345</span>
      </div>
    </div>
    <nav class="flex flex-col gap-2 uppercase">
      <h3 class="font-bold text-2xl mb-3">Useful Links</h3>
      <a href="#about" class="font-semibold hover:text-accent w-fit transition-colors duration-200 ease-in-out">about</a>
      <a href="#menu" class="font-semibold hover:text-accent w-fit transition-colors duration-200 ease-in-out">menu</a>
      <a href="#reviews" class="font-semibold hover:text-accent w-fit transition-colors duration-200 ease-in-out">reviews</a>
      <a href="#social" class="font-semibold hover:text-accent w-fit transition-colors duration-200 ease-in-out">social</a>
    </nav>
    <div>
      <h3 class="uppercase font-bold text-2xl mb-3">
        Subscribe to our Newsletter
      </h3>
      <p>
        By subscribing to our newsletter, you will receive the latest tips, and
        promotions about our product and services straight to your inbox.
      </p>
      <form class="my-3 bg-white w-fit flex ">
        <input
          class="bg-transparent px-3 py-1 w-80 focus-visible:outline-0 text-black"
          type="email"
          placeholder="Enter your email address"
        />
        <button
          type="submit"
          class="bg-black text-white font-bold cursor-pointer px-8 py-2 hover:bg-accent hover:text-black transition-colors duration-200 ease-in-out"
          >Send</button
        >
      </form>
      <div class="flex gap-3">
        <a href="/" class="hover:text-accent transition-colors duration-200 ease-in-out">Privacy</a>
        <a href="/" class="hover:text-accent transition-colors duration-200 ease-in-out">Terms</a>
        <a href="/" class="hover:text-accent transition-colors duration-200 ease-in-out">Accessibility</a>
      </div>
    </div>
  </div>

  <div class="mt-12 ">
    <p class="text-center text-xs/relaxed ">
      © Company 2022. All rights reserved.
      <br />
      Created with
      <a href="#" class="underline transition hover:text-accent text-white"
        >Love</a
      >
    </p>
  </div>
</section>
