<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />

    <link href="/icon.svg" rel="icon" type="image/svg+xml" />
    <link href="src/global.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />

    <!-- <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/SplitText.min.js"
    ></script>

    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"
    ></script> -->
    <!-- ScrollSmoother requires ScrollTrigger -->
    <!-- <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollSmoother.min.js"
    ></script> -->

    <title>Jo's Restaurant</title>
  </head>
  <body>
    <div id="smooth-wrapper">
      <main class="font-oswald bg-[#F6F2F0]" id="main">
        <slot />
      </main>
    </div>
  </body>
</html>

<style is:global>
  h1 {
    font-size: clamp(2.2rem, 5vw, 5rem);
    font-family: "Bowlby One", sans-serif;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }

  h2 {
    font-size: clamp(2rem, 5vw, 3rem);

    font-family: "Bowlby One", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-primary);
    text-transform: uppercase;
  }

  h3 {
    font-size: clamp(2rem, 5vw, 1.75rem);
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
  }

  p {
    font-size: clamp(1rem, 4vw, 1.25rem);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }
</style>

<script>
  import { ScrollSmoother } from "gsap/ScrollSmoother";

  window.addEventListener("load", () => {
    ScrollSmoother.create({
      wrapper: "#smooth-wrapper",
      content: "#main",
      effects: false,
      smooth: 0.5,
    });
  });
</script>
